/* qna */
.entrance.qna .container .qna-list {
	padding-bottom:140px; 
}
.entrance.qna .container .qna-list .section-header {
	padding:63px 0 43px 0; 
}
.entrance.qna .container .qna-list .section-content .table-wrap .table {
	border-top:2px solid #555; 
	margin-bottom:0; 
}
.table-wrap .table thead {
	background-color:#f9f9f9; 
}
.table-wrap .table tbody tr:last-child {
	border-bottom:1px solid #ccc; 
}
.entrance.qna .container .qna-list .section-content .table-wrap .table thead tr {
	height:43px; 
}
.entrance.qna .container .qna-list .section-content .table-wrap .table thead th {
	text-align:center; 
	font-size:14px; 
	color:#333; 
	border-bottom:0; 
	vertical-align:middle;
	border-right:0;
	padding:0;
}
.entrance.qna .container .qna-list .section-content .table-wrap .table tbody {text-align:center; }
.entrance.qna .container .qna-list .section-content .table-wrap .table tbody tr td {
	border-right:0;
	padding:0;
}
.entrance.qna .container .qna-list .section-content .table-wrap .table tbody tr td:nth-of-type(2) {
	text-align:left; 
	padding-left:20px; 
}
.entrance.qna .container .qna-list .section-content .table-wrap .table tbody tr {
	height:43px !important; 
}
.entrance.qna .container .qna-list .section-content .table-wrap .table tbody tr td a {
	font-size:13px; 
	color:#666; 
	vertical-align:middle; 
}
.entrance.qna .container .qna-list .section-content .table-wrap .table tbody tr td img {

	padding-left:10px;
}
.entrance.qna .container .qna-list .section-content .table-wrap .table tbody tr td .hwp-file {width:13px; }
.entrance.qna .container .qna-list .section-content .table-wrap .table tbody tr td .jpg-file {width:16px; }
.entrance.qna .container .qna-list .section-content .table-wrap .table tbody tr td .pdf-file {width:16px; }
.entrance.qna .container .qna-list .paging {
	position:relative; 
	text-align:center; 
}
.entrance.qna .container .qna-list .btn-area {
	position:absolute; 
	top:20px; 
	right:0; 
	margin:0; 
}
.new {
	text-align: center;
	color: #fff;
	width: 20px;
	height: 20px;
	font-size: 11px;
	border-radius: 50%;
	background-color: #d22d36;
	margin-left: 10px;
	padding-top: 2px;
	vertical-align:middle;
	display:inline-block;
}